img[alt="Blurred Truth"] { 
  width: 50%; 
  display: block;
  text-align: center;
}

img[alt="Box Box Cylinder"] { 
  width: 50%; 
  display: block;
}

.well blockquote {
	font-style: italic;
	font-size: 1em;

}

